<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>PoseRight | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">PoseRight</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/info">Info</a>
                    </li>
                </ul>

                <!-- google oauth here if time-->
                <!-- <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form> -->
            </div>
        </nav>

        <br>
        <br>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-3" style="color: #cdaa54"><i>PoseRight</i></h3>
                <p class="lead">Our mission is to help improve your health and reduce implications of one's incorrect
                    posture. Reference <a href="/info">here</a> for more information.</p>
            </div>
        </div>

        <br>
        <br>

        <div class="jumbotron">
            <div class="btn-group" role="group" aria-label="First group" style="padding-bottom: 5px">
                <button id="score" type="button" class="btn btn-secondary">Score</button>
                <button id="ycoord" type="button" class="btn btn-secondary">Y-Coordinate</button>

            </div>

            <br>
            <br>

            <div id="graphdiv" class="shadow p-3 mb-5 bg-white rounded">
                <canvas id="graph" width="30vw" height="17vh"></canvas>
            </div>
            <!-- <img src="/static/skeleton.png"
                style="display: inline-block; max-width: 46%; max-height: 46%; @media (max-width: 620px) {width: 100%;}" /> -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

            <script>
                let url = "http://172.16.249.255:8000/events"

                window.chartColors = {
                    red: 'rgb(255, 99, 132)',
                    orange: 'rgb(255, 159, 64)',
                    yellow: 'rgb(255, 205, 86)',
                    green: 'rgb(75, 192, 192)',
                    blue: 'rgb(54, 162, 235)',
                    purple: 'rgb(153, 102, 255)',
                    grey: 'rgb(201, 203, 207)'
                };


                var node = document.createElement("p");
                var textnode = document.createTextNode("Click on a tab to view your graphs! Scores represents your posture score over time! Or, view your y-coords compared to the base line!");
                node.appendChild(textnode);
                document.getElementById("graphdiv").appendChild(node);

                $("#score").on("click", function () {
                    fetch(url)
                        .then(res => res.json())
                        .then((out) => {
                            console.log(out);
                            var scores = [];
                            var times = [];
                            // console.log(Object.keys(out).length);
                            for (let i = 0; i < Object.keys(out).length; i++) {
                                scores.push(Math.round(out[i].score));
                                times.push(out[i].time.substring(11));
                            }
                            console.log(scores);

                            var context1 = document.querySelector('#graph').getContext('2d');
                            // new Chart(context1).Line(data);
                            var chart1 = new Chart(context1, {
                                type: 'line',
                                data: {
                                    labels: times,
                                    datasets: [{
                                        label: "Score: Δy values",
                                        fill: false,
                                        backgroundColor: window.chartColors.blue,
                                        borderColor: window.chartColors.blue,
                                        data: scores,
                                        // data: out
                                    }]
                                    // label: 'woohoo', 
                                }
                            });
                        });

                    $("#ycoord").on("click", function () {
                        fetch(url)
                            .then(res => res.json())
                            .then((out) => {
                                console.log(out);
                                var ycoords = [];
                                var baseycoords = [];
                                var times = [];
                                // console.log(Object.keys(out).length);
                                for (let i = 0; i < Object.keys(out).length; i++) {
                                    ycoords.push(Math.round(out[i].y_coordinate));
                                    baseycoords.push(Math.round(out[i].baseline_y_coordinate))
                                    times.push(out[i].time.substring(11));
                                }

                                var context2 = document.querySelector('#graph').getContext('2d');
                                new Chart(context2, {
                                    type: 'line',
                                    data: {
                                        labels: times,
                                        datasets: [
                                            {
                                                label: "Raw Y coordinates",
                                                fill: false,
                                                backgroundColor: window.chartColors.green,
                                                borderColor: window.chartColors.green,
                                                data: ycoords
                                            }, {
                                                label: "Baseline Y coordinates",
                                                fill: false,
                                                backgroundColor: window.chartColors.purple,
                                                borderColor: window.chartColors.purple,
                                                data: baseycoords
                                            }
                                        ]
                                    }
                                });
                            });
                    })
                });
            </script>
        </div>

    </div>
</body>

</html>