<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Postulating Posture</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/info">Info</a>
                    </li>
                </ul>

                <!-- google oauth here if time-->
                <!-- <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form> -->
            </div>
        </nav>

        <br>
        <br>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-3" style="color: #cdaa54"><i>Postulating Posture</i></h3>
                <p class="lead">Our mission is to help improve your health and reduce implications of one's incorrect
                    posture. Reference <a href="/info">here</a> for more information.</p>
            </div>
        </div>

        <br>
        <br>

        <div class="jumbotron">
            <div class="btn-group" role="group" aria-label="First group" style="padding-bottom: 5px">
                <button id="score" type="button" class="btn btn-secondary">Score</button>
                <button id="time" type="button" class="btn btn-secondary">Time Spent</button>

            </div>

            <br>
            <br>

            <div class="shadow p-3 mb-5 bg-white rounded">
                <canvas id="graph" width="30vw" height="17vh"></canvas>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

            <script>
                let url = "http://172.16.249.255:8000/events"

                window.chartColors = {
                    red: 'rgb(255, 99, 132)',
                    orange: 'rgb(255, 159, 64)',
                    yellow: 'rgb(255, 205, 86)',
                    green: 'rgb(75, 192, 192)',
                    blue: 'rgb(54, 162, 235)',
                    purple: 'rgb(153, 102, 255)',
                    grey: 'rgb(201, 203, 207)'
                };

                var chart = new Chart(document.querySelector("#graph").getContext('2d'), {
                    type: 'pie',
                    data: {
                        labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
                        datasets: [{
                            label: "Population (millions)",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: [2478, 5267, 734, 784, 433]
                        }]
                    },
                    options: {
                        // responsive: false,
                        title: {
                            display: true,
                            text: 'Predicted world population (millions) in 2050'
                        }
                    }
                });

                $("#score").on("click", function () {

                    fetch(url)
                        .then(res => res.json())
                        .then((out) => {
                            console.log(out);
                            var scores = [];
                            var times = [];
                            // console.log(Object.keys(out).length);
                            for (let i = 0; i < Object.keys(out).length; i++) {
                                scores.push(Math.floor(out[i].score));
                                times.push(out[i].time.substring(11));
                            }
                            console.log(scores);

                            var context1 = document.querySelector('#graph').getContext('2d');
                            // new Chart(context1).Line(data);
                            var chart1 = new Chart(context1, {
                                type: 'line',
                                data: {
                                    labels: times,
                                    datasets: [{
                                        label: "Score: Δy values",
                                        fill: false,
                                        backgroundColor: window.chartColors.blue,
                                        borderColor: window.chartColors.blue,
                                        data: scores,
                                        // data: out
                                    }]
                                    // label: 'woohoo', 
                                }
                            });
                        })

                });
                $("#time").on("click", function () {
                    var context2 = document.querySelector('#graph').getContext('2d');
                    new Chart(context2, {
                        type: 'radar',
                        data: {
                            labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
                            datasets: [
                                {
                                    label: "1950",
                                    fill: true,
                                    backgroundColor: "rgba(179,181,198,0.2)",
                                    borderColor: "rgba(179,181,198,1)",
                                    pointBorderColor: "#fff",
                                    pointBackgroundColor: "rgba(179,181,198,1)",
                                    data: [8.77, 55.61, 21.69, 6.62, 6.82]
                                }, {
                                    label: "2050",
                                    fill: true,
                                    backgroundColor: "rgba(255,99,132,0.2)",
                                    borderColor: "rgba(255,99,132,1)",
                                    pointBorderColor: "#fff",
                                    pointBackgroundColor: "rgba(255,99,132,1)",
                                    pointBorderColor: "#fff",
                                    data: [25.48, 54.16, 7.61, 8.06, 4.45]
                                }
                            ]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Distribution in % of world population'
                            }
                        }
                    });

                });
            </script>
        </div>

    </div>
</body>

</html>