<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>PoseRight | Info</title>
    <link rel="icon" type="image/x-png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>

<body>
    <div class="container center text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">PoseRight</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/info">Info <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <br>
        <br>

        <div class="jumbotron">
            <h1 class="display-4" style="padding-bottom: 6px">What defines a good posture?</h1>
            <p class="lead" style="display: inline-block; vertical-align: top; width: 46%; padding-right: 2em">This is
                the ideal posture position. You may not like it, but this is peak, perfect posture. At
                first, you may feel sore; however, this is healthier for your body.</p>
            <img src="/static/posture.jpg" width="500px" height="500px"
                style="display: inline-block; width: 46%; @media (max-width: 620px) {width: 100%;}" />

        </div>

        <!-- <h1>What is good posture?</h1>
            <br>
            <p>This is the ideal posture position. You may not like it, but this is peak posture.</p>
            <img src="/static/posture.jpg" width="500px" height="500px" />
            <br>
            <br>
            <br>
            <p>Try to keep your spine straight</p>
            <h1>What happens if you have bad posture?</h1>
            <p>In short, it's not good. With the increasing use of electronic devices, these symptoms can be aplified even
                further as well.</p> -->
        <br>

        <div class="jumbotron">
            <h1 class="display-4" style="padding-bottom: 6px">What happens if you continue having bad posture?</h1>
            <p class="lead" style="display: inline-block; vertical-align: top; width: 46%; padding-right: 2em">Some
                possible effects include:</p>
            <ul style="text-align: left; padding-left: 38%">
                <li>Increased muscle strain and risk for injury</li>
                <li>Back pain</li>
                <li>Muscle fatigue</li>
                <li>Headaches</li>
                <li>And much more...</li>
            </ul>

        </div>

        <br>
        <div class="jumbotron">
            <h1 class="display-4" style="padding-bottom: 6px">What does your score mean?</h1>
            <p class="lead"
                style="display: inline-block; vertical-align: top; width: 46%; padding-right: 2em; text-align: left">
                It's just
                a numerical represention of your current posture. It is calculated by comparing your calibration
                settings when you configured the device, and your current sitting position.
                <p class="lead" style="display: inline-block; width: 46%; float: right; text-align: left">Ideally, the lower score you
                    have, the better it is for your health.
                    <br>
                    <br>
                    For example, a score of <code style="color: red">50</code> is nearly perfect, as compared to a score
                    of <code style="color: red">160</code> which means the posture needs a lot of improvement.

                </p>
            </p>
        </div>

    </div>

</body>
