<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>

<body>
    <div class="container text-center">
        <h1>What is good posture?</h1>
        <br>
        <p>This is the ideal posture position. You may not like it, but this is peak posture.</p>
        <img src="/static/posture.jpg" width="500px" height="500px"/>
        <br>
        <br>
        <br>
        <p>Try to keep your spine straight</p>
        <h1>What happens if you have bad posture?</h1>
        <p>In short, it's not good. With the increasing use of electronic devices, these symptoms can be aplified even further as well.</p>
        <br>
        <li class = "text-center"><ul>Increased muscle strain and risk for injury</ul><ul>Back pain</ul><ul>Muscle fatigue</ul><ul>Headaches</ul><ul>And much more...</ul></li>>
    </div>
    <div class="container text-center">
            <h1>So what does your score mean?</h1>
            <br>
            <p>It's just a numerical represention of your current posture. It is calculated by comparing your calibration settings when you configured the device, and your current sitting position.</p>
            <br>
            <p>Ideally, the lower score you have, the better it is for your health.</p>        
    </div>


</body>
